body {
    font-family: 'Allura';
    margin: 0;
    background: #fffff2;
    color: #fffff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fffff2;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    margin: auto;
}

h1 {
    background: #fffff2;
}

.nav-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.name-title {
    position: relative;
}

#name {
    font-family: 'Dancing Script', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #000;
    margin-top: 70px;
    margin-bottom: 115px;
    text-shadow: 1px 1px 0px #808080,
        2px 2px 0px #808080,
        3px 3px 0px #808080,
        4px 4px 0px #808080,
        5px 5px 0px #808080,
        6px 6px 0px #808080,
        7px 7px 0px #808080,
        8px 8px 0px #808080,
        9px 9px 0px #808080,
        10px 10px 0px #808080,
        11px 11px 0px #808080,
        12px 12px 0px #808080,
        13px 13px 0px #808080,
        14px 14px 0px #808080,
        15px 15px 0px #808080;
    animation-name: name-shadow;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: relative;
    color: #fff;
}

nav .nav-btn-career {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #ff0000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 600px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-up-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-education {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #ff8000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-down-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-work-samples {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #ffff00;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-down-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-resume {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #5eff00;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 600px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-up-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-awards-honors {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #ff00cc;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 520px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-down-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-references {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #5d00ff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 200px;
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-up-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-contact {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #0084ff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-up-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-projects {
    border: none;
    font-family: 'Allura';
    font-size: 48px;
    font-weight: 400;
    background: #00ffb3;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 520px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation-name: floating-down-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

nav .nav-btn-career:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0000;
    background-position: 100% 100%; 
}

nav .nav-btn-education:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff8000;
    background-position: 100% 100%; 
}

nav .nav-btn-work-samples:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffff00;
    background-position: 100% 100%; 
}

nav .nav-btn-resume:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5eff00;
    background-position: 100% 100%; 
}

nav .nav-btn-awards-honors:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff00cc;
    background-position: 100% 100%; 
}

nav .nav-btn-references:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5d00ff;
    background-position: 100% 100%; 
}

nav .nav-btn-contact:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0084ff;
    background-position: 100% 100%; 
}

nav .nav-btn-projects:hover {
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ffb3;
    background-position: 100% 100%; 
}

@keyframes floating-up-right {
    0% { transform: translate(0px,  0px); }
    50%  { transform: translate(5px, 7.5px); }
    100%   { transform: translate(-0px, -0px); }    
}

@keyframes floating-up-left {
    0% { transform: translate(-0px,  0px); }
    50%  { transform: translate(-5px, 7.5px); }
    100%   { transform: translate(0px, -0px); }    
}

@keyframes floating-down-right {
    0% { transform: translate(0px,  -0px); }
    50%  { transform: translate(5px, -7.5px); }
    100%   { transform: translate(-0px, 0px); }    
}

@keyframes floating-down-left {
    0% { transform: translate(-0px,  -0px); }
    50%  { transform: translate(-5px, -7.5px); }
    100%   { transform: translate(0px, 0px); }    
}


@keyframes name-shadow {
    0% { text-shadow: 0px 0px 0px #000000; }
    3.125% { text-shadow: 1px 1px 0px #101010; }
    6.25% { text-shadow: 1px 1px 0px #202020,
        2px 2px 0px #202020; }
    9.375% { ext-shadow: 1px 1px 0px #303030,
        2px 2px 0px #303030,
        3px 3px 0px #303030; }
    12.5% { text-shadow: 1px 1px 0px #404040,
        2px 2px 0px #404040,
        3px 3px 0px #404040,
        4px 4px 0px #404040; }
    15.625% { text-shadow: 1px 1px 0px #505050,
        2px 2px 0px #505050,
        3px 3px 0px #505050,
        4px 4px 0px #505050,
        5px 5px 0px #505050; }
    18.75% { text-shadow: 1px 1px 0px #606060,
        2px 2px 0px #606060,
        3px 3px 0px #606060,
        4px 4px 0px #606060,
        5px 5px 0px #606060,
        6px 6px 0px #606060; }
    21.875% {  text-shadow: 1px 1px 0px #707070,
        2px 2px 0px #707070,
        3px 3px 0px #707070,
        4px 4px 0px #707070,
        5px 5px 0px #707070,
        6px 6px 0px #707070,
        7px 7px 0px #707070; }
    25% { text-shadow: 1px 1px 0px #808080,
        2px 2px 0px #808080,
        3px 3px 0px #808080,
        4px 4px 0px #808080,
        5px 5px 0px #808080,
        6px 6px 0px #808080,
        7px 7px 0px #808080,
        8px 8px 0px #808080; }
    28.125% { text-shadow: 1px 1px 0px #909090,
        2px 2px 0px #909090,
        3px 3px 0px #909090,
        4px 4px 0px #909090,
        5px 5px 0px #909090,
        6px 6px 0px #909090,
        7px 7px 0px #909090,
        8px 8px 0px #909090,
        9px 9px 0px #909090; }
    31.25% { text-shadow: 1px 1px 0px #A0A0A0,
        2px 2px 0px #A0A0A0,
        3px 3px 0px #A0A0A0,
        4px 4px 0px #A0A0A0,
        5px 5px 0px #A0A0A0,
        6px 6px 0px #A0A0A0,
        7px 7px 0px #A0A0A0,
        8px 8px 0px #A0A0A0,
        9px 9px 0px #A0A0A0,
        10px 10px 0px #A0A0A0; }
    34.375% {  text-shadow: 1px 1px 0px #B0B0B0,
        2px 2px 0px #B0B0B0,
        3px 3px 0px #B0B0B0,
        4px 4px 0px #B0B0B0,
        5px 5px 0px #B0B0B0,
        6px 6px 0px #B0B0B0,
        7px 7px 0px #B0B0B0,
        8px 8px 0px #B0B0B0,
        9px 9px 0px #B0B0B0,
        10px 10px 0px #B0B0B0,
        11px 11px 0px #B0B0B0; }
    37.5% { text-shadow: 1px 1px 0px #C0C0C0,
        2px 2px 0px #C0C0C0,
        3px 3px 0px #C0C0C0,
        4px 4px 0px #C0C0C0,
        5px 5px 0px #C0C0C0,
        6px 6px 0px #C0C0C0,
        7px 7px 0px #C0C0C0,
        8px 8px 0px #C0C0C0,
        9px 9px 0px #C0C0C0,
        10px 10px 0px #C0C0C0,
        11px 11px 0px #C0C0C0,
        12px 12px 0px #C0C0C0; }
    40.625% { text-shadow: 1px 1px 0px #D0D0D0,
        2px 2px 0px #D0D0D0,
        3px 3px 0px #D0D0D0,
        4px 4px 0px #D0D0D0,
        5px 5px 0px #D0D0D0,
        6px 6px 0px #D0D0D0,
        7px 7px 0px #D0D0D0,
        8px 8px 0px #D0D0D0,
        9px 9px 0px #D0D0D0,
        10px 10px 0px #D0D0D0,
        11px 11px 0px #D0D0D0,
        12px 12px 0px #D0D0D0,
        13px 13px 0px #D0D0D0; }
    43.75% { text-shadow: 1px 1px 0px #E0E0E0,
        2px 2px 0px #E0E0E0,
        3px 3px 0px #E0E0E0,
        4px 4px 0px #E0E0E0,
        5px 5px 0px #E0E0E0,
        6px 6px 0px #E0E0E0,
        7px 7px 0px #E0E0E0,
        8px 8px 0px #E0E0E0,
        9px 9px 0px #E0E0E0,
        10px 10px 0px #E0E0E0,
        11px 11px 0px #E0E0E0,
        12px 12px 0px #E0E0E0,
        13px 13px 0px #E0E0E0,
        14px 14px 0px #E0E0E0; }
    46.875% { text-shadow: 1px 1px 0px #F0F0F0,
        2px 2px 0px #F0F0F0,
        3px 3px 0px #F0F0F0,
        4px 4px 0px #F0F0F0,
        5px 5px 0px #F0F0F0,
        6px 6px 0px #F0F0F0,
        7px 7px 0px #F0F0F0,
        8px 8px 0px #F0F0F0,
        9px 9px 0px #F0F0F0,
        10px 10px 0px #F0F0F0,
        11px 11px 0px #F0F0F0,
        12px 12px 0px #F0F0F0,
        13px 13px 0px #F0F0F0,
        14px 14px 0px #F0F0F0,
        15px 15px 0px #F0F0F0; }
    50% { text-shadow: 1px 1px 0px #fff,
        2px 2px 0px #fff,
        3px 3px 0px #fff,
        4px 4px 0px #fff,
        5px 5px 0px #fff,
        6px 6px 0px #fff,
        7px 7px 0px #fff,
        8px 8px 0px #fff,
        9px 9px 0px #fff,
        10px 10px 0px #fff,
        11px 11px 0px #fff,
        12px 12px 0px #fff,
        13px 13px 0px #fff,
        14px 14px 0px #fff,
        15px 15px 0px #fff,
        16px 16px 0px #fff; }
    53.125% { text-shadow: 1px 1px 0px #F0F0F0,
        2px 2px 0px #F0F0F0,
        3px 3px 0px #F0F0F0,
        4px 4px 0px #F0F0F0,
        5px 5px 0px #F0F0F0,
        6px 6px 0px #F0F0F0,
        7px 7px 0px #F0F0F0,
        8px 8px 0px #F0F0F0,
        9px 9px 0px #F0F0F0,
        10px 10px 0px #F0F0F0,
        11px 11px 0px #F0F0F0,
        12px 12px 0px #F0F0F0,
        13px 13px 0px #F0F0F0,
        14px 14px 0px #F0F0F0,
        15px 15px 0px #F0F0F0; }
    56.25% { text-shadow: 1px 1px 0px #E0E0E0,
        2px 2px 0px #E0E0E0,
        3px 3px 0px #E0E0E0,
        4px 4px 0px #E0E0E0,
        5px 5px 0px #E0E0E0,
        6px 6px 0px #E0E0E0,
        7px 7px 0px #E0E0E0,
        8px 8px 0px #E0E0E0,
        9px 9px 0px #E0E0E0,
        10px 10px 0px #E0E0E0,
        11px 11px 0px #E0E0E0,
        12px 12px 0px #E0E0E0,
        13px 13px 0px #E0E0E0,
        14px 14px 0px #E0E0E0; }
    59.375% { text-shadow: 1px 1px 0px #D0D0D0,
        2px 2px 0px #D0D0D0,
        3px 3px 0px #D0D0D0,
        4px 4px 0px #D0D0D0,
        5px 5px 0px #D0D0D0,
        6px 6px 0px #D0D0D0,
        7px 7px 0px #D0D0D0,
        8px 8px 0px #D0D0D0,
        9px 9px 0px #D0D0D0,
        10px 10px 0px #D0D0D0,
        11px 11px 0px #D0D0D0,
        12px 12px 0px #D0D0D0,
        13px 13px 0px #D0D0D0; }
    62.5% { text-shadow: 1px 1px 0px #C0C0C0,
        2px 2px 0px #C0C0C0,
        3px 3px 0px #C0C0C0,
        4px 4px 0px #C0C0C0,
        5px 5px 0px #C0C0C0,
        6px 6px 0px #C0C0C0,
        7px 7px 0px #C0C0C0,
        8px 8px 0px #C0C0C0,
        9px 9px 0px #808080,
        10px 10px 0px #C0C0C0,
        11px 11px 0px #C0C0C0,
        12px 12px 0px #C0C0C0; }
    65.625% {  text-shadow: 1px 1px 0px #B0B0B0,
        2px 2px 0px #B0B0B0,
        3px 3px 0px #B0B0B0,
        4px 4px 0px #B0B0B0,
        5px 5px 0px #B0B0B0,
        6px 6px 0px #B0B0B0,
        7px 7px 0px #B0B0B0,
        8px 8px 0px #B0B0B0,
        9px 9px 0px #B0B0B0,
        10px 10px 0px #B0B0B0,
        11px 11px 0px #B0B0B0; }
    68.75% { text-shadow: 1px 1px 0px #A0A0A0,
        2px 2px 0px #A0A0A0,
        3px 3px 0px #A0A0A0,
        4px 4px 0px #A0A0A0,
        5px 5px 0px #A0A0A0,
        6px 6px 0px #A0A0A0,
        7px 7px 0px #A0A0A0,
        8px 8px 0px #A0A0A0,
        9px 9px 0px #A0A0A0,
        10px 10px 0px #A0A0A0; }
    71.875% { text-shadow: 1px 1px 0px #909090,
        2px 2px 0px #909090,
        3px 3px 0px #909090,
        4px 4px 0px #909090,
        5px 5px 0px #909090,
        6px 6px 0px #909090,
        7px 7px 0px #909090,
        8px 8px 0px #909090,
        9px 9px 0px #909090; }
    75% { text-shadow: 1px 1px 0px #808080,
        2px 2px 0px #808080,
        3px 3px 0px #808080,
        4px 4px 0px #808080,
        5px 5px 0px #808080,
        6px 6px 0px #808080,
        7px 7px 0px #808080,
        8px 8px 0px #808080; }
    78.125% {  text-shadow: 1px 1px 0px #808080,
        2px 2px 0px #707070,
        3px 3px 0px #707070,
        4px 4px 0px #707070,
        5px 5px 0px #707070,
        6px 6px 0px #707070,
        7px 7px 0px #707070; }
    81.25% { text-shadow: 1px 1px 0px #606060,
        2px 2px 0px #606060,
        3px 3px 0px #606060,
        4px 4px 0px #606060,
        5px 5px 0px #606060,
        6px 6px 0px #606060; }
    84.375% { text-shadow: 1px 1px 0px #505050,
        2px 2px 0px #505050,
        3px 3px 0px #505050,
        4px 4px 0px #505050,
        5px 5px 0px #505050; }
    87.5% { text-shadow: 1px 1px 0px #404040,
        2px 2px 0px #404040,
        3px 3px 0px #404040,
        4px 4px 0px #404040; }
    90.625% { ext-shadow: 1px 1px 0px #303030,
        2px 2px 0px #303030,
        3px 3px 0px #303030; }
    93.75% { text-shadow: 1px 1px 0px #202020,
        2px 2px 0px #202020; }
    96.875% { text-shadow: 1px 1px 0px #101010; }
    100% { text-shadow: 0px 0px 0px #000000; }
}