body {
    font-family: 'Rubik';
    background: #fffff2;
    color: #fffff2;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #fffff2;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    background: #fffff2;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #000;
    background: #fffff2;
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    color: #000;
}

nav .home-btn {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    background: #000;
    background: transparent;
    text-shadow: 0.4px 0.4px 0px #808080,
        0.8px 0.8px 0px #808080,
        1.2px 1.2px 0px #808080,
        1.6px 1.6px 0px #808080,
        2px 2px 0px #808080,
        2.4px 2.4px 0px #808080,
        2.8px 2.8px 0px #808080,
        3.2px 3.2px 0px #808080,
        3.6px 3.6px 0px #808080,
        4px 4px 0px #808080;
    margin: 2.5px 45px;
    cursor: pointer;
    transition: all 0.5s ease;
}

nav .home-btn:hover {
    transform: translateY(-2px);
    background-position: 100% 100%;
}

nav .nav-btn {
    border: none;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 500;
    background: #000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
    	0deg,
	    #fffff2,
	    #fffff2 50%,
	    Transparent 50%);
	    background-size: 100% 200%;
	    background-position: 0% 0%;
    margin: 12.5px 45px;
    cursor: pointer;
    transition: all 0.5s ease;
}

nav .nav-btn:hover {
    transform: translateY(-2px);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    background-position: 100% 100%; 
}

section {
    justify-content: center;
    margin-bottom: -5px;
}


.container {
    width: 200%;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: relative;
    background-color: #fff;
    padding-top: 15px;
    z-index: 1
}

.footer p {
    margin-right: 1px;
    color: #000;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-left: 30px;
}

.footer ul li a {
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
    color: #000;
}

.footer ul li a:hover {
    opacity: 1;
}
